[data-md-color-scheme="classic"] {
    /* Set custom color to thema*/
    --md-primary-fg-color:        #23878E;
    --md-primary-fg-color--light: #028591;
    --md-primary-fg-color--dark:  #cf258b;
    --md-typeset-a-color: #028591;
    --md-footer-fg-color: #47c8d1;
    --md-footer-bg-color: #23878E;
  }
